
.navbar__component {
    grid-area: nav;
    background: #000 !important;
  }
  
  main {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 5)),
      url("../images/codingclass.jpg");
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }
  h1,
  h4 {
    color: #fff !important;
  }
  
  Button {
    color: #fff !important;
    border: 1px solid #fff !important;
  }
  
  Button:hover {
    background: #000 !important;
  }
  
  .button__spacing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .content1__content {
    background: #000;
    grid-area: content1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff !important;
    padding: 25px;
  }
  .content2__content {
    background: #000;
    grid-area: content2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff !important;
    padding: 25px;
  }
  .content3__content {
    background: #000;
    grid-area: content3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff !important;
    padding: 25px;
  }
  
  footer {
    background: #000;
    grid-area: footer;
    color: #fff !important;
    padding: 25px;
  }
  
  .businesses {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: #fff !important;
    padding: 25px;
  }
  