#container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.135fr 1.5fr 0.75fr 0.5fr;
  grid-template-areas:
    "nav nav nav"
    "main main main"
    "content1 content2 content3"
    "footer footer footer";
}

nav {
  position: fixed;
  background: #000000;
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  z-index: 1;
}

nav > h4,
a {
  text-decoration: none !important;
  color: #fff;
}

a:hover,
h4:hover {
  color: #fca311 !important;
}

main {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0,5)),
    url("./images/codingclass.jpg");
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
main > h2,
h4 {
  color: #fff !important;
}

.content1__content {
  background: #64ffd2;
  grid-area: content1;
}
.content2__content {
  background: #64ffda;
  grid-area: content2;
}
.content3__content {
  background: #73ffba;
  grid-area: content3;
}
footer {
  background: #1de9b6;
  grid-area: footer;
}

@media only screen and (max-width: 550px) {
  #container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.175fr 1fr 0.75fr 0.75fr 0.5fr;
    grid-template-areas:
      "nav"
      "main"
      "content1"
      "content2"
      "content3"
      "footer";
  }
}
