#container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.175fr 1fr 0.75fr 0.5fr;
  grid-template-areas:
    "nav nav nav"
    "main main main"
    "content1 content2 content3"
    "footer footer footer";
  grid-gap: 0.15rem;
}

nav {
  background: #14213d;
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h4, a {
  text-decoration: none !important;
  color: #fff;
}


main {
  background: #84ffff;
  grid-area: main;
}

.content1__content {
  background: #64ffd2;
  grid-area: content1;
}
.content2__content {
  background: #64ffda;
  grid-area: content2;
}
.content3__content {
  background: #73ffba;
  grid-area: content3;
}
footer {
  background: #1de9b6;
  grid-area: footer;
}

@media only screen and (max-width: 550px) {
  #container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.175fr 1fr 0.75fr 0.75fr 0.5fr;
    grid-template-areas:
      "nav"
      "main"
      "content1"
      "content2"
      "content3"
      "footer";
  }
}
